.head {
  height: 4rem;
  background-color: slategray;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  color: honeydew;
  padding-top: 2rem;
}

body {
  margin: 0;
}
.container {
  padding: 20px;
}
.entryButton {
}

.statTable {
  margin-top: 8rem;
  border-collapse: collapse;
}

.statTable td {
  padding: 6px 10px;
  border: 1px solid black;
}
