/* > says any child element * says any element */
/* .isSelected > * {
  /* background-color: green;} */

body {
  margin: 0;
  background: radial-gradient(
    circle,
    rgba(188, 201, 215, 1) 44%,
    rgba(209, 220, 232, 1) 69%,
    rgba(228, 237, 245, 1) 100%
  );
}

.head {
  height: 4rem;
  background: radial-gradient(
    circle,
    rgba(96, 108, 116, 1) 55%,
    rgba(136, 149, 163, 1) 100%,
    rgba(192, 196, 208, 1) 100%
  );
  font-size: 2rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  color: white;
  padding-top: 2rem;
}

.containerForm {
  border: solid black 1px;
  background: linear-gradient(
    90deg,
    rgba(200, 205, 208, 1) 11%,
    rgba(200, 205, 208, 1) 37%,
    rgba(209, 215, 221, 1) 67%,
    rgba(246, 249, 255, 1) 90%
  );
  display: flex;
  justify-content: center;
}

.entry {
  margin: 1.2rem;
}

.form {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
  border: solid 1.5px black;
  margin-right: 1.5rem;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: solid 1.5px black;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1rem;
}

.containerTable {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.statTable {
  margin-top: 8rem;
  border-collapse: collapse;
}

.statTable td {
  padding: 6px 10px;
  border: 1px solid black;
}

.tableHead {
  height: 4rem;
  background-color: rgba(96, 108, 116, 1);
  font-size: 1.4rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 2rem;
}

.tableHead td {
  padding-left: 4rem;
  padding-right: 4rem;
}

.addEmployee tr {
  background-color: white;
}

.addEmployee tr:nth-child(even) {
  background-color: rgba(200, 205, 208, 1);
}

.totalRow {
  background-color: rgba(96, 108, 116, 1);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: right;
}

.inTheGreen {
  background-color: rgba(144, 238, 144, 0.322);
}

.inTheRed {
  background-color: rgba(255, 0, 0, 0.342);
}

.font1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1.1rem;
}
