/* > says any child element * says any element */
/* .isSelected > * {
  background-color: green;
} */

.head {
  height: 4rem;
  background: radial-gradient(
    circle,
    rgba(96, 108, 116, 1) 55%,
    rgba(136, 149, 163, 1) 100%,
    rgba(192, 196, 208, 1) 100%
  );
  font-size: 2rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  color: white;
  padding-top: 2rem;
}

body {
  margin: 0;
}
.containerTable {
  padding: 20px;
}

.containerForm {
  border: solid black 1px;
  background: linear-gradient(
    90deg,
    rgba(200, 205, 208, 1) 11%,
    rgba(200, 205, 208, 1) 37%,
    rgba(209, 215, 221, 1) 67%,
    rgba(246, 249, 255, 1) 90%
  );
  display: flex;
  justify-content: center;
}

.containerTable {
  display: flex;
  justify-content: center;
}

.totalRow {
  text-align: right;
}

.entry {
  margin: 1rem;
}

.form {
  margin-right: 2.5rem;
}
.statTable {
  margin-top: 8rem;
  border-collapse: collapse;
}

.statTable td {
  padding: 6px 10px;
  border: 1px solid black;
}

.tableHead {
  height: 4rem;
  background-color: rgba(96, 108, 116, 1);
  font-size: 1.5rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: white;
  padding-top: 2rem;
}

.inTheGreen {
  background-color: rgba(144, 238, 144, 0.562);
}

.inTheRed {
  background-color: rgba(255, 0, 0, 0.342);
}
